<div class="grid_12 alpha">
	<!-- DESCRIPTION -->
	<div class="grid_12">
		<h2> MetaMorphe 2.5D - Dynamic design for digital fabrication </h2>
		<p class='lead'> 
			A texture and tactility toolkit. 
		</p>
		<p class='lead'>
			<em> 
				Photograph to height map to 3D model.  
			</em> 
		</p>
		<%= link_to pic2stl_path, :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-download"> </span> PIC2STL
		<% end %>
		</p>
	</div>



</div>

