<%= javascript_include_tag 'metamorphehalf/DimensionsPreview', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'STLLoader', 'data-turbolinks-track' => true %>
<script type="text/javascript">
var env;
var dim;
var lambertMaterial = new THREE.MeshPhongMaterial({
						        specular: '#a9fcff',
						        color: '#00abb1',
						        ambient: new THREE.Color( 0xffffff ),
						        // dark
						        specular: new THREE.Color( 0x111111 ),
						        emissive: new THREE.Color( 0x000000 ),
						        side: THREE.DoubleSide,
						        shininess: 30
						      });

$(function(){
	
	env = new WebEnv($("#ThreeJS"));
		
	// STLGenerator.textureMaterial
	// var planeGeo = new THREE.PlaneGeometry( 1000, 1000, 10, 10) ;
	// var plane = new THREE.Mesh(	planeGeo, lambertMaterial);
	// plane.rotation.x = -Math.PI / 2;
	// plane.position.y = -100;
	// env.scene.add( plane );

	var stlFilename = "/stls/pengrip.stl";
	var loader = new THREE.STLLoader();
	loader.load( stlFilename, function ( geometry ) {
		var material = new THREE.MeshPhongMaterial( { ambient: 0xff5533, color: 0xff5533, specular: 0x111111, shininess: 200 } );
		var mesh = new THREE.Mesh( geometry, material );
		mesh.position.set( 0, 10, 0);
		mesh.rotation.set( 0, - Math.PI, 0 );
		mesh.rotation.set( - Math.PI/4, - Math.PI,  Math.PI/2 );
		mesh.scale.set( 1, 1, 1 );
		mesh.castShadow = true;
		mesh.receiveShadow = true;
		env.scene.add( mesh );
	} );



	var gui = new dat.GUI();
	dim = new DimensionsPreview(env.container);
});

$(window).resize(function(){
	console.log("Resized!");
	THREEx.WindowResize(env.renderer, env.camera);
});


function addStats(container){
	// STATS
	var stats = new Stats();
	stats.domElement.style.position = 'relative';
	stats.domElement.style.top = '-55px';
	stats.domElement.style.left = '0px';
	stats.domElement.style.zIndex = 100;
	container.appendChild( stats.domElement );
	return stats;
}
</script>

<style type="text/css">
	#texture-render{
		display: none;
	}
</style>
<div class="threejs_container">
<div id="ThreeJS" ></div>
</div>
