
<%= javascript_include_tag 'metamorphehalf/planebox', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'metamorphehalf/DimensionsPreview', 'data-turbolinks-track' => true %>


<script type="text/javascript">
var te;
TactileController.textures =  <%= @files %>;


$(function(){
	te = new TactileEnvironment();
});


function generateURL(){
	return {
		title: tc.texture + " rendered as " + tc.engine,
		href: "height_displacement?engine=" + tc.engine +"&" + "texture=" + tc.texture
		}
}
</script>

<style type="text/css">
	#texture-render{
		display: none;
	}
</style>
<div class="threejs_container">
<div id="ThreeJS" ></div>
</div>
<canvas id="texture-render" ></canvas>
