<%= javascript_include_tag 'metamorphehalf/planebox', 'data-turbolinks-track' => true %>


<script type="text/javascript">
var env;
var pb;

$(function(){
	
	env = new WebEnv($("#ThreeJS"));

	
    pb = new PlaneBox(100, 100, 20, 10, 10, 1, new THREE.MeshLambertMaterial({
    	color: new THREE.Color(0xffffff)
    }));
   
	env.scene.add(pb.mesh);

	 for(var i in pb.geometry.vertices)
    	if(i % 4 == 0)
		    pb.geometry.vertices[i].z += 10;
    pb.geometry.verticesNeedUpdate = true;
	// pb.geometry.elementsNeedUpdate = true;
	// pb.geometry.morphTargetsNeedUpdate = true;
	// pb.geometry.uvsNeedUpdate = true;
	// pb.geometry.normalsNeedUpdate = true;
	// pb.geometry.colorsNeedUpdate = true;
	// pb.geometry.tangentsNeedUpdate = true;
	pb.geometry.computeFaceNormals();
	pb.geometry.computeVertexNormals();
	var gui = new dat.GUI();
});

$(window).resize(function(){
	console.log("Resized!");
	THREEx.WindowResize(env.renderer, env.camera);
});


function addStats(container){
	// STATS
	var stats = new Stats();
	stats.domElement.style.position = 'relative';
	stats.domElement.style.top = '-55px';
	stats.domElement.style.left = '0px';
	stats.domElement.style.zIndex = 100;
	container.appendChild( stats.domElement );
	return stats;
}
</script>

<style type="text/css">
	#texture-render{
		display: none;
	}
</style>
<div class="threejs_container">
<div id="ThreeJS" ></div>
</div>
