<%= javascript_include_tag 'metamorphehalf/planebox', 'data-turbolinks-track' => true %>


<script type="text/javascript">
var env;
var pb;

$(function(){
	
	env = new WebEnv($("#ThreeJS"));
	



	// for(var i = 0; i > 20, i++){
	// 	box2  = boxB.clone();
	// 	box2.position.y += i * 6;
	// }

	// pb = new PlaneBox(100, 100, 20, 10, 10, 1, new THREE.MeshLambertMaterial({
    // color: new THREE.Color(0xffffff)
 
	var gui = new dat.GUI();
	var c = new Capacitor();
	var plate_controller = gui.add(c, "num_of_plates", 5, 20);
	gui.add(c, "create");

	plate_controller.onChange(function(){
		// c.update();
	});
});


	
function Capacitor(){
	this.num_of_plates = 20;
	var self = this;
	this.create = function(){
		self.update();
	}
}
Capacitor.prototype = {
	update: function(){
		var boxGeom = new THREE.BoxGeometry(100, 10, 100);
		var lamM = new THREE.MeshLambertMaterial({
	    	color: new THREE.Color(0xffffff)
	 	});

		var boxMesh = new THREE.Mesh(boxGeom, lamM);
		for(var i = 0; i < this.num_of_plates; i ++){
			var b = boxMesh.clone();
			b.position.y += 20 * i;
			env.scene.add(b);
		}
	}
}



function addStats(container){
	// STATS
	var stats = new Stats();
	stats.domElement.style.position = 'relative';
	stats.domElement.style.top = '-55px';
	stats.domElement.style.left = '0px';
	stats.domElement.style.zIndex = 100;
	container.appendChild( stats.domElement );
	return stats;
}
</script>

<style type="text/css">
	#texture-render{
		display: none;
	}
</style>
<div class="threejs_container">
<div id="ThreeJS" ></div>
</div>
